body{
  font-family: 'Open Sans', sans-serif;
}
#label{
  margin-top: -15px;
}
.header{
  font-family: 'Roboto',sans-serif;
  font-size: 34px;
}
.experience{
  margin-top: -10px;
}
.subHeader{
  color: #455a64;
  font-family: 'Roboto',sans-serif;
}
hr.partial{
  margin-top: -5px;
}
